<app-bread-crumb
  [items]="[{text: 'Turmas', link: '/schoolclasses'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/schoolclasses"
  button-class="btn-light">
</app-page-header>


<form [formGroup]="schoolclassForm" (submit)="submitForm()">

    <div class="card">
      <div class="card-header">
        Informações sobre a Turma
      </div>
  
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" formControlName="name">

            <div class="text-danger" *ngIf="schoolclassForm.get('name').invalid && schoolclassForm.get('name').touched">
              <div *ngIf="schoolclassForm.get('name').errors?.required">dado obrigatório</div>
              <div *ngIf="schoolclassForm.get('name').errors?.minlength">mínimo 6 caracteres</div>
              <div></div>
            </div>
  
          </div>
          
          <div class="form-group col-md-4">
            <label for="shift">Turno</label>
            <input type="text" class="form-control" id="shift" formControlName="shift">

            <div class="text-danger" *ngIf="schoolclassForm.get('shift').invalid && schoolclassForm.get('shift').touched"> 
              <div *ngIf="schoolclassForm.get('shift').errors?.required">dado obrigatório</div>
              <div *ngIf="schoolclassForm.get('shift').errors?.minlength">mínimo 3 caracteres</div>
              <div></div>
            </div>            
          </div>          
        </div>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="schoolYear">Ano Letivo</label>
            <input class="form-control" id="schoolYear" formControlName="schoolYear" type="number" min="0" value="{{0}}">
  
          </div>
  
          <div class="form-group col-md-6" *ngIf="currentAction === 'edit'">
            <label for="schoolClassCode">Código</label>
            <input disabled type="text" class="form-control" id="schoolClassCode" formControlName="schoolClassCode">
          </div>          
        </div>
      </div>  

      <div class="card-body">
        <div class="form-row">  
          <div class="form-group col-md-12">
            <label for="schoolId">Escola</label>
            <input type="text" class="form-control" id="schoolId" formControlName="schoolId" min="0">
          </div>          
        </div>
      </div> 

    <button [disabled]="submittingForm || schoolclassForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
      Salvar
    </button>      

        
    <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
      <strong>Erro no servidor:</strong>
      <ul>
        <li *ngFor="let error of serverErrorMessages">{{error}}</li>
      </ul>
    </div> 

  </div>

</form>    