<nav class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/schools">Escolas</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/" active>Formulario de Escola</a>
      </li>
    </ol>
  </nav>

  
<div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">
        Formulario da Escola {{currentAction}}
      </h1>
    </div>
    <div class="col-md text-right">
      <a routerLink="/schools" class="btn btn-success float-right">
        << Voltar
      </a>
    </div>  
  </div>

<form [formGroup]="schoolForm">

    <div class="card">
      <div class="card-header">
        Informações sobre a escola
      </div>
  
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" formControlName="name">
  
          </div>
  
          <div class="form-group col-md-8">
            <label for="schoolPrincipal">Diretor</label>
            <input type="text" class="form-control" id="schoolPrincipal" formControlName="schoolPrincipal">
          </div>          
        </div>
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="maxSchoolClass">Máximo de Turmas</label>
            <input type="text" class="form-control" id="maxSchoolClass" formControlName="maxSchoolClass">
  
          </div>
  
          <div class="form-group col-md-8">
            <label for="maxSchoolStudents">Máximo de Alunos</label>
            <input type="text" class="form-control" id="maxSchoolStudents" formControlName="maxSchoolStudents">
          </div>          
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg float-right mt-3">
        Salvar
      </button>      

    </div>