<nav class="mb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/schoolclasses" active>Turmas</a>
      </li>
    </ol>
  </nav>
  
  <div class="row mb-4">
    <div class="col-md">
      <h1 class="h2 border-left pl-2">
        Turmas
      </h1>
    </div>
    <div class="col-md text-right">
      <a routerLink="new" class="btn btn-success float-right">
        Nova Turma
      </a>
    </div>
  </div>
  
  <table class="table table-hover">
      <thead>
        <tr class="bg-primary text-light">
          <th>Turma</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schoolClass of schoolClasses">
          <td>
            <strong>{{schoolClass.name}}</strong><br>
              <small>Turno: {{schoolClass.shift}}, Ano Letivo: {{schoolClass.schoolYear}}, Código: {{schoolClass.schoolClassCode}}, Escola: {{schoolClass.schoolId}}. </small>
          </td>
          <td>
            <a [routerLink]="[schoolClass.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
            <button (click)="deleteSchool(schoolClass)" class="btn btn-outline-danger btn-sm">Excluir</button>
          </td>
        </tr>            
      </tbody>
    </table>
  